.DS_Store
/Public/uploads/avatar/*
/Public/uploads/icons/*
/Public/uploads/posts/*
!/Public/uploads/avatar/.gitkeep
!/Public/uploads/icons/.gitkeep
!/Public/uploads/posts/.gitkeep
!/Public/uploads/avatar/placeholder.png
