.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;
}

.edit-avatar {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

.save-button {
  margin-top: 2vh;
}
