.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: scroll;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.background {
  width: 100vw;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-top: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #fff;
  border: 2px solid var(--lightshadow);
}

.background h2 {
  margin-top: 10vh;
}

.delete-button {
  width: 60vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 4vw;
  border-radius: 20vw;
  border: 2px solid var(--main);
  color: var(--main);
  background-color: #fff;
  box-shadow: 5px 5px 18px var(--shadow);
  cursor: pointer;
}

.close-window {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1vh;
}

.close-window i {
  color: var(--focus);
  right: 0;
}
