.post-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-user-container h3 {
  margin-left: 2vw;
}

.post-avatar {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  object-fit: cover;
}

.post-img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.post-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 1vh;
  text-align: start;
  font-size: 0.9rem;
}

/* Like and comment button container */
.post-buttons {
  display: flex;
  flex-direction: row;
  width: 25vw;
  justify-content: space-between;
  align-items: flex-start;
}

.like-button,
.comment-button {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  padding: 1%;
}

.form-like {
  margin: 0;
}

/* Number of likes */
.likes p {
  margin: 0;
  font-size: 0.7rem;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
}

.post-date {
  font-size: 0.7rem;
  letter-spacing: 0.3em;
}

.like-img {
  width: 15px;
  filter: invert(95%) sepia(0%) saturate(1178%) hue-rotate(160deg) brightness(92%) contrast(88%);
}

@media screen and (min-width: 800px) {
  .post-avatar {
    width: 3vw;
    height: 3vw;
  }
}
